# External connection string (use for local testing)
DATABASE_URL=postgresql://prooftext_db_user:YOUR_PASSWORD@dpg-d6bavtnpm1nc739gos10-a.oregon-postgres.render.com/prooftext_db

# Internal connection string (use when app is deployed)
# DATABASE_URL=postgresql://prooftext_db_user:YOUR_PASSWORD@dpg-d6bavtnpm1nc739gos10-a/prooftext_db
