# External connection string (use for local testing)
DATABASE_URL=postgresql://prooftext_db_28ip_user:YOUR_PASSWORD@dpg-d7g81inlk1mc7382b8lg-a.oregon-postgres.render.com/prooftext_db_28ip

# Internal connection string (use when app is deployed)
# DATABASE_URL=postgresql://prooftext_db_28ip_user:YOUR_PASSWORD@dpg-d7g81inlk1mc7382b8lg-a/prooftext_db_28ip
